﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@ViewBag.pathParent/kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="@ViewBag.pathParent/kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/styles/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="@ViewBag.pathParent/kendo/css/kendo.mobile.all.min.css" rel="stylesheet" />
<link href="@ViewBag.pathParent/kendo/css/kendo.metro.min.css" rel="stylesheet" />
<link href="@ViewBag.pathParent/kendo/css/kendo.blueopal.min.css" rel="stylesheet" />

<script src="@ViewBag.pathParent/kendo/js/jquery.min.js"></script>
<script src="@ViewBag.pathParent/kendo/jszip.min.js"></script>
<script src="@ViewBag.pathParent/kendo/js/kendo.all.min.js"></script>

<div id="grid"></div>

<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = "https://localhost:44373/barangjson",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/get",
                        dataType: "json"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/update",
                        dataType: "json"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/delete",
                        dataType: "json"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/create",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        console.log(operation);
                        if (operation === "read" && options.filter) {
                            //var str = "logic=" + options.filter["logic"];
                            var str;
                            console.log(options.filter["logic"]);
                            $.each(options.filter["filters"], function (i, item) {
                                str = str + "&opr=" + item["operator"] + "&val=" + item["value"] + "&fld=" + item["field"];
                                console.log(item["operator"]);
                                console.log(item["value"]);
                                console.log(item["field"]);
                            });
                            return str;
                        }
                        if (operation == "create" && options.models) {
                            return "nama_barang=" + options.models[0]["nama_barang"] + "&harga=" + options.models[0]["harga"] + "&stok=" + options.models[0]["stok"];
                        }
                        else if (operation == "update" && options.models) {
                            return "id_barang=" + options.models[0]["id_barang"] + "&nama_barang=" + options.models[0]["nama_barang"] + "&harga=" + options.models[0]["harga"] + "&stok=" + options.models[0]["stok"];
                        }
                        if (operation == "destroy" && options.models) {
                            return "id_barang=" + options.models[0]["id_barang"];
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    model: {
                        id: "id_barang",
                        fields: {
                            id_barang: { editable: false, nullable: true },
                            nama_barang: { validation: { required: true } },
                            harga: { type: "number", validation: { required: true, min: 1 } },
                            stok: { type: "number", validation: { min: 0, required: true } }
                        }
                    }
                }
            });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            filterable: {
                mode: "row"
            },
            toolbar: ["create"],
            columns: [
                {
                    field: "nama_barang",
                    title: "Nama Barang",
                    width: "120px",
                    filterable: {
                        cell: {
                            operator: "contains",
                            suggestionOperator: "contains"
                        }
                    }
                },
                {
                    field: "harga",
                    title: "Harga",
                    width: "120px",
                    filterable: {
                        cell: {
                            operator: "gte"
                        }
                    }
                },
                {
                    field: "stok",
                    title: "Stok",
                    width: "120px",
                    filterable: {
                        cell: {
                            operator: "gte"
                        }
                    }
                },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
            editable: "inline"
        });
    });

</script>