﻿
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Report</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div id="confirmation"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div id="incident_code"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div id="incident_date"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</section>
<script>
    var crudServiceBaseUrl = "https://localhost:44353/Report";
    function incident_code_chart() {
        $("#incident_code").kendoChart({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead_sum_code",
                        contentType: 'application/json',
                        type: "POST"
                    },
                    parameterMap: function (data, operation) {
                        //if (operation == "create" || operation == "update") {

                        //}
                        return kendo.stringify(data)
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            total:
                            {
                                type: "number"
                            },
                            incident_code:
                            {
                                type: "string"
                            }
                        }
                    }
                }
            },
            title: {
                position: "bottom",
                text: "Kode Pelanggaran"
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: "",
                height: 300
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    background: "transparent",
                    template: "#= dataItem.incident_code # : \n #= dataItem.total #"
                }
            },
            series: [{
                type: "pie",
                startAngle: 150,
                field: "total",
                categoryField: "incident_code"
            }],
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }

    function incident_date_chart() {
        $("#incident_date").kendoChart({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead_sum_date",
                        contentType: 'application/json',
                        type: "POST"
                    },
                    parameterMap: function (data, operation) {
                        //if (operation == "create" || operation == "update") {

                        //}
                        return kendo.stringify(data)
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            total:
                            {
                                type: "number"
                            },
                            incident_date:
                            {
                                type: "string"
                            }
                        }
                    }
                }
            },
            title: {
                position: "bottom",
                text: "Tanggal Pelanggaran"
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: "",
                height: 300
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    background: "transparent",
                    template: "#= dataItem.incident_date # : \n #= dataItem.total #"
                }
            },
            series: [{
                type: "pie",
                startAngle: 150,
                field: "total",
                categoryField: "incident_date"
            }],
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }

    function confirmation_chart() {
        $("#confirmation").kendoChart({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead_sum_confirmation",
                        contentType: 'application/json',
                        type: "POST"
                    },
                    parameterMap: function (data, operation) {
                        //if (operation == "create" || operation == "update") {

                        //}
                        return kendo.stringify(data)
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            total:
                            {
                                type: "number"
                            },
                            confirmation:
                            {
                                type: "string"
                            }
                        }
                    }
                }
            },
            title: {
                position: "bottom",
                text: "Tanggal Pelanggaran"
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: "",
                height: 300
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    background: "transparent",
                    template: "#= dataItem.confirmation # : \n #= dataItem.total #"
                }
            },
            series: [{
                type: "pie",
                startAngle: 150,
                field: "total",
                categoryField: "confirmation"
            }],
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }

    $(document).ready(function () {
        incident_code_chart();
        incident_date_chart();
        confirmation_chart();
    });
    $(document).bind("kendo:skinChange", function ()
    {
        incident_code_chart();
        incident_date_chart();
        confirmation_chart();
    });

    
</script>
