﻿/*body {
    font-size: 11px !important;
}*/


.k-grid-header .k-header {
    background-color: #48930d !important;
    color: #ffffff !important;
}

.k-grid-header th.k-header>.k-link {
    color: #f3f3f4 !important;
}

.k-icon, .k-sprite {
    /*background-color: rgba(253, 250, 250, 0.92);*/
    background-color: rgba(253, 250, 250, 0.92);
}

.theme-white a:hover, .theme-white a:focus, .theme-white .widget-users li>.details>.name>a:hover, .theme-white .widget-todo .actions>a:hover {
    color: #043405 !important;
}

.theme-white a, .theme-white .fc-state-default, .theme-white .jvectormap-zoomin, .theme-white .jvectormap-zoomout, .theme-white #user-profile .profile-details ul>li>span {
    color: #043405 !important;
}