﻿body {
        
        background: url(../Img/w.png) no-repeat fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
.inner-container{
  width:680px;
  height:440px;
  position:absolute;
  top:calc(50vh - 220px);
  left:calc(50vw - 340px);
  overflow:hidden;
  box-shadow: 0 20px 20px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.25);
  
}

.image-container{
  position:relative;
  float:left;
  height:100%;
  width:52%;
  font-family:Helvetica;
  color:#fff;
  background:#3baff7;
  padding:30px 0px;
}
.image-container .logo{
    width:320px;
    height:250px;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.image-container .banner{
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    font-size:38px;
    font-weight:700;
    font-family:Helvetica;
    line-height:30px;
    
}
.image-container .banner-small{
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    font-size:15px;
    font-family:Helvetica;
    
}

.box{
  position:relative;
  float:right;
  height:100%;
  width:48%;
  font-family:Helvetica;
  color:#fff;
  background:#fff;
  padding:30px 0px;
 
}
.box h1{
  text-align:center;
  margin:5px 10px;
  font-size:30px;
}
.box input[type=text],input[type=password]{
  display:block;
  width:270px;
  margin:17px auto;
  padding:7px;
  background:#f5f5f5;
  color:#666;
  border:1px solid #dadada;
  font-size:12px;
}
.box input[type=text]:focus,input[type=password]:focus,.box input:active,.box button:focus,.box button:active{
  outline:solid 1px #3baff7;
}
.box select{
  display:block;
  width:270px;
  margin:17px auto;
  padding:7px;
  background:#f5f5f5;
  color:#666;
  border:1px solid #dadada;
  font-size:12px;
}
.box select:focus,.box input:active,.box button:focus,.box button:active{
  outline:solid 1px #3baff7;
}
.login{
  background:#3baff7;
  border:0;
  color:#fff;
  padding:7px;
  font-size:15px;
  width:270px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.login:active{
  background:#51bafb;
}

.profile{
  background:#3baff7;
  border:0;
  color:#fff;
  padding:7px;
  font-size:15px;
  width:120px;
  cursor:pointer;
  display:inline-block;
  margin-right:5px;
  cursor:pointer;
}
.profile:active{
  background:#51bafb;
}

.profile-name{
      font-family:Helvetica;
      font-size:12px !important;
      font-weight:700;
      line-height:10px;
}

.cancel{
  background:#cc2e2e;
  border:0;
  color:#fff;
  padding:7px;
  font-size:15px;
  width:80px;
  display:block;
  cursor:pointer;
  display:inline-block;
}
.cancel:active{
  background:#d04343;
}

.button-profile{
    float:right;
    margin-right:30px;
}
.box p{
  padding-left:30px;
  padding-right:30px;
  font-size:12px;
  text-align:center;
  margin-top:15px;
  color:#666;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.box img{
    margin-left: auto;
    margin-right: auto; 
    margin-top:-10px;   
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border:2px solid #3baff7;
    border-radius:50%;
    width:110px;
    height:110px;
}

.header{
    top:0px;
    width:100%;
    height:70px;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0, 0, 0, 0.56);
    position:fixed;
    vertical-align: middle;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

