﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Control & Monitor Alarm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Control & Monitor Alarm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @*<div class="card-header">
                        <h3 class="card-title">Responsive Hover Table</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- /.card-header -->
                    @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
                        Launch Large Modal
                    </button>*@
                    <div class="card-body table-responsive p-0" id="kendo-grid"></div>
                    <!-- /.card-body -->
                    <div id="details"></div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Process</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <table class="table">
                            <tr>
                                <td>Unit No</td>
                                <td id="unit_no" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Org</td>
                                <td id="organisation" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Device Num</td>
                                <td id="device_id" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Speed</td>
                                <td id="vehicle_speed" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Frek.Pelanggaran</td>
                                <td id="frequency_incident" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Waktu Pelanggaran</td>
                                <td id="incident_start" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Code Pelanggaran</td>
                                <td id="incident_code" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Total Alarm</td>
                                <td id="total_alarm" style="text-align: left;">:</td>
                            </tr>
                            <tr>
                                <td>Segment Road</td>
                                <td id="road_segment_id" style="text-align: left;">:</td>
                            </tr>
                            
                        </table>
                    </div>
                    <div class="col-md-7">
                        <form asp-action="InsertConfirmation" asp-controller="Home" method="POST" id="frm_confirmation">
                            <div class="card-body">
                                <input type="hidden" name="txt_id_monitor_confirm" id="txt_id_monitor_confirm" />
                                <div class="form-group">
                                    <label>Confirmation</label>
                                    <select name="txt_confirmation" class="form-control" required>
                                        <option value="OPEN">OPEN</option>
                                        <option value="ON-PROGRESS">ON-PROGRESS</option>
                                        <option value="CLOSED">CLOSED</option>
                                        <option value="FALSE">FALSE</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    @*<label>Catatan</label>*@
                                    <textarea name="txt_catatan" class="form-control" rows="3" placeholder="Catatan ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Nama/NRP GL</label>
                                    <input name="txt_nama_nrp_gl" type="text" class="form-control" placeholder="Nama/NRP GL" required>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-body">
                                <button type="submit" class="btn btn-primary right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer" id="add_unit_no">
                @*<button type="button" class="btn btn-default" onclick="fn_log_pelanggaran();">Log View</button>
                <button type="button" class="btn btn-default" onclick="fn_message();">Send Voice</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log Pelanggaran</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" id="kendo-log"></div>
            </div>
            @*<div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-msg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form asp-action="ajax_InsertMessage" asp-controller="Home" method="POST" id="frm_message">
                <div class="modal-header">
                    <h4 class="modal-title">Send Message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" name="txt_id_monitor_msg" id="txt_id_monitor_msg" />
                <input type="hidden" name="txt_incident_msg" id="txt_incident_msg" />
                <input type="hidden" name="txt_unit_msg" id="txt_unit_msg" />
                <div class="modal-body">
                    @*<div class="card-body table-responsive p-0" id="kendo-log"></div>*@

                    @*<div class="form-group">
            <label>Pilihan pesan suara</label>
            <select name="txt_confirmation" class="form-control">
                <option value="OPEN">OPEN</option>
                <option value="ON-PROGRESS">ON-PROGRESS</option>
                <option value="CLOSED">CLOSED</option>
                <option value="FALSE">FALSE</option>
            </select>
        </div>*@
                    <div class="form-group">
                        <label><input type="radio" id="customRadio1" value="1" name="rd_input" required> Pilih Pesan</label>
                        <label>Confirmation</label>
                        <select name="slt_message" id="slt_message" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label><input type="radio" id="customRadio1" value="2" name="rd_input" required> Ketik Pesan</label>
                        <textarea name="txt_message" class="form-control" rows="3" placeholder="Write a message ..."></textarea>
                    </div>

                </div>
                <div class="modal-footer justify-content-between" id="btn-msg">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modal-log-msg">Log Message</button>
                    <button type="submit" class="btn btn-primary">Send</button>*@
                </div>
            </form>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-log-msg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log Pelanggaran</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" id="kendo-log-msg"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modal-msg">Back</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="hidden" id="form-submit"></div>
<script>
    var wnd, detailsTemplate, crudServiceBaseUrl = "https://localhost:44353/Home";
    $(document).ready(function () {
        $('#frm_confirmation').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: crudServiceBaseUrl + "/ajax_InsertConfirmation",
                data: $('#frm_confirmation').serialize(),
                success: function () {
                    alert('form was submitted');
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                    alert("data: " + ex);
                }
            });
        });
        $('#frm_message').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: crudServiceBaseUrl + "/ajax_InsertMessage",
                data: $('#frm_message').serialize(),
                success: function () {
                    alert('form was submitted');
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                    alert("data: " + ex);
                }
            });
        });
        
        $("#kendo-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead",
                        contentType: 'application/json',
                        type: "POST"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/ajaxInsert",
                        contentType: 'application/json',
                        complete: function (data) {
                            var obj = JSON.parse(data.responseText);

                            if (obj.status == true) {
                                alert(obj.remarks);
                            }
                            else {
                                alert(obj.remarks);
                            }
                        }
                    },
                    update: {
                        url: crudServiceBaseUrl + "/ajaxupdate",
                        contentType: "application/json",
                        complete: function (data) {
                            console.log(data);
                            var obj = JSON.parse(data.responseText);

                            if (obj.status == true) {
                                alert(obj.remarks);
                            }
                            else {
                                alert(obj.remarks);
                            }
                        }
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/ajaxdelete",
                        contentType: "application/json",
                        complete: function (data) {
                            console.log(data);
                            var obj = JSON.parse(data.responseText);

                            if (obj.status == true) {
                                alert(obj.remarks);
                            }
                            else {
                                alert(obj.remarks);
                            }
                        }
                    },
                    parameterMap: function (data, operation) {
                        if (operation === "read") {
                            return kendo.stringify(data);
                        }
                        if (operation == "create" && data.models) {
                            console.log(data.models);
                            
                            return "unit_no=" + data.models[0]["unit_no"] + "&device_id=" + data.models[0]["device_id"] +
                                "&vehicle_speed=" + data.models[0]["vehicle_speed"] + "&incident_code=" + data.models[0]["incident_code"] +
                                "&road_segment_id=" + data.models[0]["road_segment_id"];
                        }
                        if (operation == "update" && data.models) {
                            return "id=" + data.models[0]["id"] + "&unit_no=" + data.models[0]["unit_no"] + "&device_id=" + data.models[0]["device_id"] +
                                "&vehicle_speed=" + data.models[0]["vehicle_speed"] + "&incident_code=" + data.models[0]["incident_code"] +
                                "&road_segment_id=" + data.models[0]["road_segment_id"];
                        }
                        if (operation == "destroy" && data.models) {
                            return "id=" + data.models[0]["id"];
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    data: "data",
                    model: {
                        id: "id",
                        fields: {
                            id:
                            {
                                editable: false,
                                type: "number"
                            },
                            unit_no:
                            {
                                type: "string"
                            },
                            organisation:
                            {
                                editable: false,
                                type: "string"
                            },
                            device_id:
                            {
                                type: "string"
                            },
                            vehicle_speed:
                            {
                                type: "number",
                                validation: { required: true, min: 1 }
                            },
                            frequency_incident:
                            {
                                editable: false,
                                type: "string"
                            },
                            incident_start:
                            {
                                editable: false,
                                type: "string"
                            },
                            incident_code:
                            {
                                type: "string"
                            },
                            total_alarm:
                            {
                                editable: false,
                                type: "number"
                            },
                            road_segment_id:
                            {
                                type: "string"
                            },
                            confirmation:
                            {
                                editable: false,
                                type: "string"
                            }
                        }
                    }
                }
            },
            pageable: true,
            sortable: true,
            height: 500,
            filterable: true,
            navigatable: true,
            pageable: {
                refresh: true,
                buttonCount: 10,
                input: true,
                pageSizes: [10, 20, 50, 100, 1000, 100000],
                info: true,
                messages: {}
            },
            toolbar: [{
                template: '<span class="k-textbox k-space-right"><input id="searchbox" class="k-textbox" placeholder="Search..." /><span class="k-icon k-i-search"></span></span>'
            }, "create"],
            columns: [
            {
                field: "unit_no",
                title: "Unit No",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "organisation",
                title: "Org",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "device_id",
                title: "Device Num",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "vehicle_speed",
                title: "Speed",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "frequency_incident",
                title: "Frek.Pelanggaran",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "incident_start",
                title: "Waktu Pelanggaran",
                width: "180px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "incident_code",
                title: "Code Pelanggaran",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "total_alarm",
                title: "Total Alarm",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "road_segment_id",
                title: "Segment Road",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                field: "confirmation",
                title: "Confirmation",
                width: "120px",
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;"
                },
            },
            {
                //field: "actioninsert",
                title: "<b>Action<b>",
                command: [{
                    text: "Details",
                    click: function (e) {
                        // prevent page scroll position change
                        e.preventDefault();
                        // e.target is the DOM element representing the button
                        var tr = $(e.target).closest("tr"); // get the current table row (tr)
                        // get the data bound to the current table row
                        var data = this.dataItem(tr);
                        showDetails(data.id, data.unit_no, data.organisation, data.device_id, data.vehicle_speed, data.frequency_incident, data.incident_start, data.incident_code, data.total_alarm, data.road_segment_id);
                    }
                },
                    "edit",
                    "destroy"],
                width: "250px",
                attributes: {
                    style: "text-align: center"
                },
                headerAttributes: {
                    style: "text-align: center"
                }
            },
            ],
            editable: "inline"
        });

        //wnd = $("#details")
        //    .kendoWindow({
        //        title: "Customer Details",
        //        modal: true,
        //        visible: false,
        //        resizable: false,
        //        width: 300
        //    }).data("kendoWindow");

        detailsTemplate = kendo.template($("#template").html());
    });



    function fn_log_pelanggaran(unit_no) {
        $('#modal-lg').modal('toggle');
        $("#kendo-log").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead_log_pelanggaran?unit_no=" + unit_no,
                        contentType: 'application/json',
                        type: "POST"
                    },
                    parameterMap: function (data, operation) {
                        if (operation == "create" || operation == "update") {
                            data.unit_no = unit_no;
                        }
                        return kendo.stringify(data)
                    }
                },
                batch: true,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            incident_date:
                            {
                                type: "string"
                            },
                            incident_time:
                            {
                                type: "string"
                            },
                            incident_code:
                            {
                                type: "string"
                            },
                            frequency_incident:
                            {
                                type: "string"
                            },
                            unit_no:
                            {
                                type: "string"
                            },
                            road_segment_id:
                            {
                                type: "string"
                            }
                        }
                    }
                }
            },
            pageable: true,
            sortable: true,
            height: 500,
            filterable: true,
            navigatable: true,
            pageable: {
                refresh: true,
                buttonCount: 10,
                input: true,
                pageSizes: [10, 20, 50, 100, 1000, 100000],
                info: true,
                messages: {}
            },
            columns: [
                {
                    field: "incident_date",
                    title: "Date",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "incident_time",
                    title: "Time",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "incident_code",
                    title: "Code Pelanggaran",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "frequency_incident",
                    title: "Frek.Pelanggaran",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "unit_no",
                    title: "Unit No",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "road_segment_id",
                    title: "Segment Road",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                }
            ]
        });
    }

    function fn_message(unit_no) {
        $('#modal-msg').modal('toggle');
    }

    function fn_log_msg(id) {
        $("#kendo-log-msg").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/ajaxRead_message?id=" + id,
                        contentType: 'application/json',
                        type: "POST"
                    },
                    parameterMap: function (data, operation) {
                        return kendo.stringify(data)
                    }
                },
                batch: true,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            created_date:
                            {
                                type: "string"
                            },
                            created_by:
                            {
                                type: "string"
                            },
                            unit_no:
                            {
                                type: "string"
                            },
                            incident_code:
                            {
                                type: "string"
                            },
                            message:
                            {
                                type: "string"
                            }
                        }
                    }
                }
            },
            pageable: true,
            sortable: true,
            height: 400,
            filterable: true,
            navigatable: true,
            pageable: {
                refresh: true,
                buttonCount: 10,
                input: true,
                pageSizes: [10, 20, 50, 100, 1000, 100000],
                info: true,
                messages: {}
            },
            columns: [
                {
                    field: "created_date",
                    title: "Date",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "created_by",
                    title: "Time",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "unit_no",
                    title: "Code Pelanggaran",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "incident_code",
                    title: "Frek.Pelanggaran",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                },
                {
                    field: "message",
                    title: "Unit No",
                    width: "120px",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    },
                }
            ]
        });
    }

    function showDetails(id, unit_no, organisation, device_id, vehicle_speed, frequency_incident, incident_start, incident_code, total_alarm, road_segment_id) {
        $('#unit_no').empty();
        $('#organisation').empty();
        $('#device_id').empty();
        $('#vehicle_speed').empty();
        $('#frequency_incident').empty();
        $('#incident_start').empty();
        $('#incident_code').empty();
        $('#total_alarm').empty();
        $('#road_segment_id').empty();

        $('#unit_no').append(unit_no);
        $('#organisation').append(organisation);
        $('#device_id').append(device_id);
        $('#vehicle_speed').append(vehicle_speed);
        $('#frequency_incident').append(frequency_incident);
        $('#incident_start').append(incident_start);
        $('#incident_code').append(incident_code);
        $('#total_alarm').append(total_alarm);
        $('#road_segment_id').append(road_segment_id);

        $("#txt_id_monitor_msg").val(id);
        $("#txt_incident_msg").val(incident_code);
        $("#txt_unit_msg").val(unit_no);
        $("#txt_id_monitor_confirm").val(id);

        $('#add_unit_no').empty();
        $('#add_unit_no').append('<button type="button" class="btn btn-default" onclick="fn_log_pelanggaran(\'' + unit_no + '\');">Log View</button>' +
            '<button type="button" class="btn btn-default" onclick="fn_message(\'' + unit_no + '\');">Send Voice</button>');

        $('#slt_message').empty();
        $('#slt_message').append('<option value="Info Temuan Pelanggaran ' + incident_code + '">Info Temuan Pelanggaran ' + incident_code +'</option>');

        $('#btn-msg').empty();
        $("#btn-msg").append('<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modal-log-msg" onclick="fn_log_msg(\'' + id + '\');">Log Message</button>' +
            '<button type="submit" class="btn btn-primary">Send</button>');

        $('#modal-xl').modal('toggle');
    }

</script>
<script type="text/x-kendo-template" id="btn_unit">
    
</script>
<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <h2>#= FirstName # #= LastName #</h2>
        <em>#= Title #</em>
        <dl>
            <dt>City: #= City #</dt>
            <dt>Birth Date: #= kendo.toString(BirthDate, "MM/dd/yyyy") #</dt>
        </dl>
    </div>
</script>